@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.App {
  text-align: center;
  padding-left: 30px; 
  padding-right: 30px; 
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.container {
  width: 100%;
  padding: 1.5rem 1rem 1rem;
  margin-right: auto;
  margin-left: auto;

}

.content {
  display: flex;
}

.image-container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.row img {
  width: 20%;
  margin: 5px; 
}

.main-heading {
  font-family: 'Luckiest Guy', cursive;
  font-weight: normal;
  color: #0095D5;
}

h5 {
  color: #464646;
}

.main-container {
  margin-left: 250px; 
  padding: 20px; 
  height: 100%; 
}
